// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$orange: #ff6d02;
$purple: #080957;
$lightpurple: #7577cd;
$lilac: #dbdbeb;
