<div class="dashboard">
  <div class="container text-center">
    <div class="profile">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/jykc", class: "img-circle" %>
          <h2>jykc</h2>
          <h3>Programmer</h3>
          <a href="https://github.com/jykc" class="btn-treehouse">Get in touch</a>
    </div>
    <div class="stats">
      <div class="stat">
        <h2>3,536</h2>
        <p>contributions</p>
      </div>
      <div class="stat">
        <h2>2</h2>
        <p>followers</p>
      </div>
            <div class="stat">
        <h2>10</h2>
        <p>repositories</p>
      </div>

    </div>
    <div class="desc">
      <h3>More about Jess</h3>
      <p>Application Analyst, learning to code at Le Wagon. Application Analyst, learning to code at Le Wagon. Application Analyst, learning to code at Le Wagon. Application Analyst, learning to code at Le Wagon. Application Analyst, learning to code at Le Wagon. Application Analyst, learning to code at Le Wagon.</p>
    </div>
  </div>
</div>
